# Logs
logs
reactjs/*.log
reactjs/npm-debug.log*
reactjs/yarn-debug.log*
reactjs/yarn-error.log*
reactjs/pnpm-debug.log*
reactjs/lerna-debug.log*

reactjs/node_modules
reactjs/dist
reactjs/dist-ssr
reactjs/*.local

# Editor directories and files
reactjs/.vscode/*
reactjs/!.vscode/extensions.json
reactjs/.idea
reactjs/.DS_Store
reactjs/*.suo
reactjs/*.ntvs*
reactjs/*.njsproj
reactjs/*.sln
reactjs/*.sw?

laravel_api/.phpunit.cache
laravel_api/node_modules
laravel_api/public/build
laravel_api/public/hot
laravel_api/public/storage
laravel_api/storage/*.key
laravel_api/vendor
laravel_api/.env
laravel_api/.env.backup
laravel_api/.env.production
laravel_api/Homestead.json
laravel_api/Homestead.yaml
laravel_api/auth.json
laravel_api/npm-debug.log
laravel_api/yarn-error.log
laravel_api/.fleet
laravel_api/.idea
laravel_api/.vscode
